@font-face {
    font-family: myFontMedium;
    src: url(fonts/Ferrari-SansMedium.ttf);
}

@font-face {
    font-family: myFontRegular;
    src: url(fonts/Ferrari-SansRegular.ttf);
}

* {
    box-sizing: border-box;
  }

html{
    padding: 0;
    margin: 0;
}

body{
    background-color: #1c1c1c;
    font-family: myFontMedium;
}

article{
    display: flex;
    flex-direction: column;
}

aside{
    display: flex;
}

header{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #e9e9e9;
    background-color: #1c1c1c;
    margin-bottom: 25px;
}

h1{
    margin-bottom: 25px;
}

nav{
    display: flex;
    flex-direction: column;
}

nav a{
    text-decoration: none;
    padding: 8px;
    margin: 3px;
    border: solid 1px #e9e9e9;
    color: #e9e9e9;
    border-radius: 150px;
}

nav a:hover {
    background-color: #525252;
    transform: scale(1.02);
}

nav a.active {
    background-color: #e9e9e9;
    color: #1c1c1c;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url(images/pictures/lines.png);
    background-repeat: no-repeat;
    background-size: 180%;
    background-position: bottom;
}

.containerrow{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url(images/pictures/lines.png);
    background-repeat: no-repeat;
    background-size: 180%;
    background-position: bottom;
}


.container>* {
	height: fit-content;
    margin: 1%;
    /* ne ide írjuk a   flex: 1 1 100%; részt, mert felülír máshol ahol nem kellene, erősebb, mint a media query */
}

article.kepek{
    margin-top: 40px;
    border: solid 1px #4f4f4f;
    border-radius: 30px;
    text-align: center;
    color: #e9e9e9;
}

article.kepek img{
    height: auto;
    max-width:100%;
    border: solid 1px #4f4f4f;
    border-radius: 30px;
}

aside.kephez{
    text-align: center;
    font-size: 30px;
    color: #e9e9e9;
}

article.csillag{
    align-items: center;
    text-align: center;
    font-size: 25px;
    color: #e9e9e9;
}

article.csillag p{
    margin: 0;
}

.ertekeles{
    max-width:80%;
    margin-left: auto;
    margin-right: auto;
    font-family: myFontRegular;
}

.ertekeles_kicsi{
    font-family: myFontRegular;
    margin: 0;
    font-size: 17px;
}

article.csillag img{
    margin-top: 20px;
    max-width:50%;
    margin-bottom: 10px;

}

.lepesek{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.lepesek article{
    margin-top: 20px;
    border: solid 1px #4f4f4f;
    border-radius: 30px;
    text-align: center;
    color: #e9e9e9;
}

.lepesek article p{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

footer{
    text-align: center;
    color: #1c1c1c;
    background-color: #e9e9e9;
    padding: 5px;
    margin-top: 20px;
    font-size: 12px;
}

.ikonok{
    margin-top: 10px;
    max-width:20%;
    margin-left: auto;
    margin-right: auto;
}

label{
    display: flex;
    color: #e9e9e9;
    align-items: center;

}

table{
    width: 100%;
    margin: 0;
    padding: 0;
}

input {
    width: auto;
    padding: 12px;
    margin: 8px;
    border: 2px solid #e9e9e9;
    border-radius: 30px;
    width: 98%;
}


td{
    color: #e9e9e9;
    border: red;
}

.kivalaszt{
    width: 10%;
    margin-left: 0px;
}

h2{
    font-size: 30px;
    text-align: center;
    color: #e9e9e9;
}

.idopontleir{
    margin-top: -10px;
    margin-bottom: 50px;
    text-align: center;
    color: #e9e9e9;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: myFontRegular;
}

.magyarazo{
    margin-top: -10px;
    text-align: center;
    color: #e9e9e9;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: myFontRegular;
}

.magyarazo a{
    text-decoration: none;
    color: #e9e9e9;
}

iframe{
    margin-left: auto;
    margin-right: auto;
    max-width: 98%;
    border-radius: 25px;
}

.nyitvatartas{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #4f4f4f;
    border-radius: 25px;
}

.nyitvatartas td{
    padding: 10px;
}

.nyitvatartas td.jobbra{
    border-left: solid 1px #4f4f4f;
    border-bottom: solid 1px #4f4f4f;
    text-align: right;
}

.nyitvatartas td.jobbratolso{
    border-left: solid 1px #4f4f4f;
    text-align: right;
}

.nyitvatartas td.balra{
    border-bottom: solid 1px #4f4f4f;
}

/* referencia */

.grid {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transform: rotateX(45deg) rotateZ(5deg);
    margin-top: -50px;
}
  
.grid-block {
    width: 50%;
    padding: 2.2%;
}
  
.grid .tile-link:hover .tile-img {
    top: -16px;
    left: -16px;
}
  
.grid .tile-img {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top left
}
  
.tile-img {
    display: flex;
    width: 100%;
    transition-duration: 0.125s;
    transition-timing-function: ease-in;
    border-radius: 30px;
}
.tile-link:hover .tile-fekete {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4),
                10px 10px rgba(0, 0, 0, 0.3), 15px 15px rgba(0, 0, 0, 0.2),
                20px 20px rgba(0, 0, 0, 0.1), 25px 25px rgba(0, 0, 0, 0.05);
}
  
.tile-link:hover .tile-feher {
    box-shadow: 5px 5px rgba(233, 233, 233, 0.4), 10px 10px rgba(233, 233, 233, 0.3),
                15px 15px rgba(233, 233, 233, 0.2), 20px 20px rgba(233, 233, 233, 0.1),
                25px 25px rgba(233, 233, 233, 0.05);
}

@media all and (min-width: 768px) {
    .container{
        flex-direction: row;
    }

    header{
        margin-left: 30px;
        text-align: left;
        flex-direction: row;
    }
    h1{
        flex-basis: 40%;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: end;
        flex-basis: 60%;
        justify-content: space-around;
    }
    nav a{
        text-decoration: none;
        border: solid 1px #e9e9e9;
        padding: 8px 20px;
        color: #e9e9e9;
        border-radius: 30px;
        margin: auto;
    }
    .kepek{
        flex-basis: 58%;
    }
    .csillag{
        flex-basis: 38%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .csillag img{
        margin-top: 20px;
        width:40%;
        margin-bottom: 10px;
    }
    .ertekeles{
        max-width:80%;
        margin-left: auto;
        margin-right: auto;
        font-family: myFontRegular;
        font-size: 40px;
    }
    .ertekeles_kicsi{
        font-family: myFontRegular;
        margin: 0;
        font-size: 27px;
    }
    .lepesek{
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .lepesek article{
        flex-basis: 25%;
        margin: 25px 3%;
    }
    .grid{
        transform: rotateX(45deg) rotateZ(5deg);
        width: 60%;
    }
    .telefonszam{
        flex-basis: 18%;
    }
    .bemutatoterem{
        flex-basis: 38%;
    }
    .nyitvatartasbox{
        flex-basis: 38%;
    }
}